.signUp {
    background-color: blue;
    height: 850px;
    width: 100%;
    background-image: url("../../assets/login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.signUpForm {
    background-color: bisque;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    overflow: hidden;
}